/**
 * Globals
 */
body {
  background-color: #fff;
  color: #272831;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.8em; }

h1, h2, h3, h4, h5, h6, strong, b, label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px; }

p {
  margin: 0 0 20px; }

a {
  color: #ff8500;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

a:hover {
  color: #ff8500;
  opacity: 0.8; }

iframe {
  border: none;
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #eee;
  text-decoration: none;
}

big {
  font-size: 125%;
}
input,
textarea,
select {
  border: 1px solid #ddd;
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%; }

textarea {
  min-height: 140px; }

input[type="submit"],
button[type="submit"],
.btn,
.comment .comment-reply-link {
  background-color: #ff8500;
  border: 1px solid #ff8500;
  border-radius: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

input[type="submit"]:hover,
button[type="submit"]:hover,
.btn:hover,
.comment .comment-reply-link:hover {
  color: #fff; }

.widget li:before,
nav[role="navigation"] li:before {
  content: ""; }

.gallery-item {
  padding: 5px; }
  .gallery-item img {
    border: none !important; }

.screen-reader-text {
  display: none; }

.wp-caption {
  max-width: 100%; }

/**
 * Table
 */

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #bbb;
  padding-bottom: 0.5em;
}

th {
  padding: 0.4em;
  text-align: left;
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 0.4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/**
 * Required CSS
 */
.sticky,
.bypostauthor {
  opacity: 1; }

.alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em; }

.alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**
 * Header
 */
#site-header #main-navigation-area {
  background-color: #ff8500;
  position: relative; }
  #site-header #main-navigation-area:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    width: 100%; }

#site-header .navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 15px 0; }
  #site-header .navbar-default .navbar-toggle {
    background-color: #ff8500;
    border: none;
    border-radius: 0; }
    #site-header .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  #site-header .navbar-default .navbar-collapse {
    border: none; }

#site-header .navbar-brand {
  height: auto; }

#site-header #logo {
  margin: 0; }
  #site-header #logo a {
    color: #272831;
    font-size: 30px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase; }

#site-header .logo-area p {
  margin: 0; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.navbar-nav > li > .dropdown-menu {
  padding: 0; }

.dropdown-menu {
  border: none;
  border-radius: 0; }

.dropdown-menu > li > a {
  padding: 10px; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: #ff8500; }

.navbar-nav > li > .dropdown-menu {
  padding: 0; }

.dropdown-menu > li > a {
  padding: 10px; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;
  color: #00bcd4; }

.dropdown-menu .dropdown-menu{
  right: 0;
  left: 100%;
  top: 0;
  padding: 0;
  margin: 0;
}

#main-navigation {
  font-weight: 300;
  text-transform: uppercase;
  padding: 0; }
  #main-navigation ul.navbar-nav {
    margin: 0; }
    #main-navigation ul.navbar-nav > li.active > a {
      background-color: transparent;
      font-family: "Montserrat", sans-serif;
      font-weight: 700; }

.page-title-area {
  background-color: #eee;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 40px;
  position: relative; }
  .page-title-area .page-title {
    position: relative;
    color: inherit;
    margin: 0;
    z-index: 2;
    text-transform: uppercase; }

.entry-header .entry-title {
  margin: 0; }

.top-area {
  background-color: #272831;
  color: #fff;
  padding: 10px 0; }

.site-desc p {
  font-style: italic;
  text-align: right;
  margin: 0;
  padding: 15px 0; }

.site-info {
  font-family: "Montserrat", sans-serif; }
  .site-info .site-info-item {
    position: relative;
    padding-left: 25px;
    text-transform: uppercase; }
    .site-info .site-info-item p {
      font-weight: 700;
      margin: 0; }
    .site-info .site-info-item span {
      display: block;
      font-weight: 400;
      text-transform: none; }
    .site-info .site-info-item.phone-num {
      padding-left: 20px; }
    .site-info .site-info-item:before {
      color: #ff8500;
      font-family: "FontAwesome";
      font-size: 20px;
      left: 0;
      position: absolute;
      top: 0; }
    .site-info .site-info-item.opening-hours:before {
      content: '\f041'; }
    .site-info .site-info-item.phone-num:before {
      content: '\f10b';
      font-size: 22px; }
    .site-info .site-info-item.email-add:before {
      content: '\f003';
      font-size: 17px; }

/**
 * Blog
 */
.blog-list article.post,
.blog-list article.page {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .blog-list article.post .entry-title,
  .blog-list article.page .entry-title {
    margin-bottom: 30px; }

.gallery-caption,
.wp-caption-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px; }

.blog .nav-links {
  margin-bottom: 0; }

.nav-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px; }
  .nav-links .nav-previous,
  .nav-links .nav-next {
    display: inline-block;
    width: 50%; }
    .nav-links .nav-previous :before,
    .nav-links .nav-next :before {
      content: "\f177";
      font-family: 'FontAwesome';
      display: inline-block;
      padding: 10px; }
  .nav-links .nav-next {
    text-align: right; }
    .nav-links .nav-next :before {
      content: none; }
    .nav-links .nav-next :after {
      content: "\f178";
      font-family: 'FontAwesome';
      display: inline-block;
      padding: 10px; }

.entry-footer .cat-tag-links {
  margin-top: 30px; }
  .entry-footer .cat-tag-links p {
    background-color: #eee;
    padding: 10px; }

.entry-footer .entry-footer-title {
  text-align: center;
  margin: 0 0 20px; }

.related-posts {
  margin-top: 60px; }
  .related-posts .related-item {
    text-align: center;
    margin-top: 20px; }
    .related-posts .related-item h3 {
      margin: 10px 0 0; }

#respond {
  margin-top: 60px; }
  #respond .comment-reply-title {
    text-align: center;
    margin: 0; }
    #respond .comment-reply-title a {
      display: none; }
  #respond .comment-notes {
    text-align: center; }
  #respond textarea, #respond input[type="text"] {
    width: 100%; }

.commentlist {
  margin-top: 60px; }

#comments-title {
  text-align: center;
  margin: 0 0 30px; }

.comment {
  margin-bottom: 40px; }
  .comment .comment-author {
    margin: 0;
    padding: 0;
    width: auto; }
  .comment .comment_content {
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-left: 75px; }
  .comment .comment:not(.depth-1) {
    margin-left: 80px;
    padding: 0; }
  .comment .comment_content p {
    margin-bottom: 0; }
  .comment .vcard {
    margin-left: 0;
    margin-right: 10px; }
  .comment .vcard .avatar {
    float: left;
    position: static; }
  .comment .comment_content time {
    display: block;
    font-size: 14px; }
  .comment .comment_content time a {
    color: #aaa;
    font-size: 14px;
    text-decoration: none; }
  .comment .comment-reply-link {
    padding: 5px 10px;
    display: inline-block;
    margin: 10px 0 0; }
  .comment .comment-inner {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; }
  .comment .reply-link {
    text-align: right; }
  .comment [class*=depth-] {
    margin-top: 1.1em; }

/**
 * Widget
 */
.widget {
  margin-bottom: 40px; }
  .widget .widgettitle {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 15px; }
  .widget ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .widget ul ul {
    padding-left: 20px; }
  .widget select,
  .widget input[type="text"],
  .widget textarea {
    width: 100%; }
  .widget #wp-calendar {
    width: 100%; }
    .widget #wp-calendar th {
      text-align: center; }
    .widget #wp-calendar td {
      font-family: inherit;
      text-align: center; }
    .widget #wp-calendar caption {
      background: #ff8500;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      padding: 8px 0;
      text-transform: uppercase;
      text-align: center; }
    .widget #wp-calendar thead {
      border: 1px solid #aaa; }

/**
 * Homepage Sections
 */
#banner {
  background-size: cover;
  background-position: center;
  padding: 10% 0;
  color: #fff; }

#section-2 {
  background-color: #f7f7f7;
  padding: 60px 0; }

#section-3 {
  padding: 60px 0; }

#section-4 {
  background-color: #272831;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 60px 0; }
  #section-4 .su-service-title {
    font-family: "Montserrat", sans-serif;
    color: inherit; }

#section-5 {
  padding: 60px 0; }

/**
 * Footer
 */
.page-template-template-home footer.footer {
  margin-top: 0; }

footer.footer {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
  margin-top: 30px; }
  footer.footer a {
    color: #fff; }
  footer.footer .footer-item {
    margin-bottom: 30px; }
  footer.footer .footer-copyright {
    text-align: center; }

@media only screen and (max-width: 991px) {
  .logo-area {
    margin-bottom: 20px; }
  .page-title-area {
    margin-bottom: 30px; }
  .sidebar-area {
    margin-top: 40px; } }

@media only screen and (max-width: 767px) {
  .logo-area {
    margin-bottom: 0; }
  .site-info {
    display: none; }
    .site-info .site-info-item.phone-num {
      padding-left: 42px; }
    .site-info .site-info-item.phone-num:before {
      left: 8px; }
  .navbar-toggle {
    margin-right: 0; }
  #banner .rslides img {
    float: none; }
  #banner .metaslider .caption-wrap {
    position: relative; }
  #banner .nivo-caption {
    position: relative;
    padding: 20px; }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: transparent !important;
    color: #fff !important; } }